
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

@import url('layer.css');
@import url('animation.css');




*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;

}



:root{
    --dark_background_color :180, 6%, 10%;
    --pink_color: 350, 85%, 58%;
    --light_color:0, 20%, 95%;
    --gray : 180, 1%, 45%;
    --body_text_color:0, 0%, 91%;
    --btn_font: 1.6rem;
    --sample : rgb(224, 72, 97);
    --facebook: #3b5999;
--twitter:#55acee;
--whatsapp:#25d366;
--linkdin:#0077b5;
 --instagram:#e4405f;
  --border-radius: 6px;
 --button_bg:#f99cac;

    
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 0.625rem;
   color:hsl(var(--body_text_color),.8)   ;
 
}



body {

    background-color:hsl( var( --dark_background_color));
    font-family: 'Chakra Petch',sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
 
     line-height: 1.5;
     /* background-color:  #f0677e; */
   
}

h1{
    font-weight: 900;
}


h2{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    margin-bottom:5rem ;
    
}
a{
    text-decoration: none;
}

h2 .nav_icon{
    color: hsl( var( --pink_color));
    font-size: 5rem;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */


/* --------------BUTTON GENERAL STYLING------------------- */




 .btn--scroll-to{
    /* width: 10vw; */
    background-color: transparent;
      border: 1px solid hsl(var(--pink_color));
    /* color: hsl(var(--light_color)); */
   font-size:var(--btn_font);
   
   text-align: center;
      cursor: pointer; 
}

.btn--scroll-to ,
.nav__link:link,
.nav__link:visited,
.section--sign-up,
.nav__link--btn,.nav_button,.btn {
        /* display: block; */
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius:var(--border-radius);
  color: hsl( var( --light_color),.7);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 transition: all .8s;

}


.nav__link:link,.nav__link:visited{

    padding: 0;
    margin-left:2rem ;
}


.btn--scroll-to .nav__link:link {
    margin: 0;

}


 /* background: linear-gradient(113.94389852113807deg, rgba(248, 188, 79,1) 6.140625%,rgba(211, 21, 87,1) 95.51562499999999%); */

 /* CTA and Project buttons */
.btn--scroll-to:hover,
.section--sign-up .btn, .nav__link--btn:link,
.nav__link--btn:visited,
.nav__link--btn,.nav_button
{
background:hsl(var(--pink_color));
  text-decoration: none;
  color: hsl(var(--light_color));
  border: 1px solid var(--pink_color);
    
}

.btn--scroll-to:hover,
.nav__link--btn:link:hover,
.nav__link--btn:visited:hover,
.nav__link--btn:hover,.nav_button:hover{
   transform: scale(90%);

}

/* contact btn */
.btn {
    display: inline-block;
    background-color: var(--button_bg);
    font-size:var(--btn_font);
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.4rem 4.5rem;
    cursor: pointer;
    transition: all 0.3s;
    cursor: pointer;
}


.section--sign-up .btn{
   padding: 4rem 4rem;
   
}

/* nav button (contact button) */

.nav_button a{

    color: hsl( var( --light_color));
    margin-right: .6rem;
}
.nav_button 
{
    border: 1px solid hsl( var( --pink_color),.8);
font-size: 1.9rem;
text-align: center;
}


/* .nav__link--btn span {
  
    margin-top: 10px;
} */

/*GENERAL STYLING  WITH FLEX  (DESKTOP)*/
.social_icons,
.social_icons li span,
.skill_container,
.skills_list,
.skill_container,
.skills_list,
.slide,
.nav_button {
            display: flex;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.nav__links {

    list-style: none;
}

/* 
.nav.sticky,.nav {
    
} */
.nav{
    border: transparent;
   margin: 1rem;
   align-content: center;
}


  .sticky {
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 100vw;
    z-index: 100;
padding: 1rem 4rem ;
background: rgba( 114, 116, 116, 0.5 );
box-shadow: 0 2px 12px 0 rgba(16, 17, 41, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
margin: 0;
color: #fff;
font-weight: 700;
}


.sticky  ul,.sticky  img{
    margin:0 8vh;
}

.sticky .nav__item >.nav_icon,nav .nav__item >.nav_icon{
display: none;
}
 /* glassmorphism */

/* 
{
    background: rgba( 114, 116, 116, 0.4 );
box-shadow: 0 2px 12px 0 rgba(16, 17, 41, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );


} */

/* /////////////////// */
.nav img{
    width: 5vw;
}

.logo {
width: 60%;
    transition: all 0.3s;
}

/* logo for mobile */
.mobile_logo{
    display: none;
}

.nav__item {
    margin-left: 4rem;
}

.nav .btn--scroll-to span{
    display: block;
}
.nav .btn--scroll-to{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* * HEADER */

header {
    background-image: linear-gradient(hsl(var(--dark_background_color),.4),hsl(var(--dark_background_color))),url(/img/IMG_9375_copy-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: cal(30*2);
    background-position: calc(72% * 2);
    background-position-y: calc(7%);
    background-size: 65%;
}

.hero_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
height: 100vh;
z-index: -1;
}


.hero_text-div {
    width: 45vw;
    position: relative;
    top: 0%;
    left: 10%;
    transform: translate(0%,0%);
    flex-direction: column;
    justify-content: center;
}

h1 {
  letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1.35;
}




h1 .name_style{
color: hsl( var( --pink_color));
  font-size: 5rem;
  line-height:5.5rem;
  margin-top: 1rem ;
   /* margin-bottom: 1rem; */
  letter-spacing:.8px;
}

.span_hero_text{
    position: relative;

}

.span_hero_text{
    display: block;
    right: 50%;
}


.hero_text-div h4{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    line-height: 2.3rem;
    /* color: hsl(var(--body_text_color)); */
    font-weight:300;
  
}


.img_container{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    width: 50vw;
}

/* icon */


.social_icons{
     flex-wrap: wrap;
        transform-style: preserve-3d;
     transform: rotate(-25deg)  skew(25deg); 
    position: absolute;
  bottom: 5%; 
  right:  30rem;
    gap: 2rem;
    width: 20vw;
}


.social_icons > li{
    position: relative;
    list-style: none;
    width: 7rem;
    height: 5rem;
    margin: 0 .5rem;
    background-color: rgba(0,0,0,.5);
    border-radius:20px ;
}


.social_icons li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--light_color),.2);
    color: hsl( var( --dark_background_color));
    font-size: 3rem;
    border-radius: 1rem;
}
.social_icons li span:last-child(){
    box-shadow: 1px 2px 2px rgba(0,0,0,.5);
}
.social_icons li :hover span{
     z-index: 1000;
     transition: 0.5s;
         color: hsl( var( --light_color));
         /* box-shadow: -1px 1px 1px rgba(0,0,0,.5); */
        

}

.social_icons li :hover span:nth-child(5){
    transform: translate(4rem,-4rem);
    opacity: 1;
    
}

.social_icons li :hover span:nth-child(4){
    transform: translate(3rem,-3rem);
    opacity: .8;
}

.social_icons li :hover span:nth-child(3){
    transform: translate(2rem,-2rem);
    opacity: .6;
}

.social_icons li :hover span:nth-child(2){
    transform: translate(1rem,-1rem);
    opacity: .4;
}

.social_icons ul li :hover span:nth-child(1){
    transform: translate(1rem,-1rem);
    opacity: .1;
}


 .social_icons  li:nth-child(3):hover span{
   background-color: var(--whatsapp);
} 

 .social_icons li:nth-child(4) :hover span{
  background-color: var(--dark_background_color);
} 

 .social_icons  li:nth-child(2) :hover span{
  background-color: var(--linkdin);
}

  .social_icons li:nth-child(1) :hover span{
  background-color: var(--twitter);
}



/*ABOUT ME */

.about_img{
    display: block;
    margin-top: 10rem;
   max-width: 100%;
}

.about_container{
margin-top: 4rem;
}


.description {
    position: relative;
    width: auto;
margin-top: 20rem;
    line-height: 3.5rem;
}

.description p span {
    color: var(--sample);
    font-weight: 1000;
    font-style:oblique;
    margin: 0 .5rem;
    font-size: 2rem;
    letter-spacing: .2rem;

    
}


.description p::after,
.my_project::after{
    content: '';
    position: absolute;
    left: 80%;
    top:80%;
    left: 80%;
    transform: translate(50%,50%);
    width: .1px;
    height: 0vh;
        content: "";
    position: absolute;
    border-radius: 50%;
    background-color: var(--sample);
    box-shadow: -16px 10px 156px 98px var(--sample);
-webkit-box-shadow: 10px 0px 400px 80px var(--sample);
-moz-box-shadow: -16px 0px 116px 48px var(--sample);
z-index: -1;
}

.my_project::after{
    left: 10%;
    top: 80%;

    transform: translate(0%,50%);
    
}
/* My skills */
.my_skills_container{
    height: 80vh;
}



.my_skills {
    margin:4rem 0;
}
.my_skills h2{
    
    margin-bottom: 4rem;
}

.skills_list{
  
    width: 40vw;
        display: grid;
        gap: 15rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    position: relative;
     transform: skewY(-12deg);

}


.skills_list li{
    position: relative;
   list-style: none;
   width: 18rem;
   background-color: hsl( var( --dark_background_color),.3);
   padding: 1.5rem;
   transition: 0.5s;
   z-index: calc(1* var(--i));

}

.skills_list li:hover,
.skills_list li:hover span,
.skills_list li:hover::after{
   border: 1px solid var(--clr);
}

.skills_list li:hover{
transform: translateX(-10rem);
color: var(--clr);
 
/* background-color: var(--clr); */
}

.skills_list li span,.skills_list li::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: -4rem;
    width: 4rem;
    height: 8.4vh;
    background-color: hsl( var( --dark_background_color));
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);

}

.skills_list li::before{
      content: ' ';
      
}


.skills_list li:hover span{

color: var(--clr);
    filter: brightness(0.7);
  

}

.skills_list li::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: -4rem;
    width: 17.87rem;
    height: 3.95rem;
    background-color: hsl( var( --dark_background_color));
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
       transition: 0.5s;
    clip-path: polygon(0 0%,95% 10%, 100% 100%, 0% 100%);;

}

.skills_list li:hover::after{

filter: brightness(0.9);

}



.skills_list li span{
color: hsl( var( --light_color));
font-size:3.3rem ;
padding-top: 1rem;

}








/*PROJECT SLIDER */
.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 4rem auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

 .slide{
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 50rem; */

    /* THIS creates the animation! */
    transition: transform 1s;
}
/* ********************* */
/*GENERAL styling */
/* ********************* */


.skill_container,.skills_list{ 
    justify-content: center;
 
   
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
}

/* TESTIMONIALS */
.projects {
    width: 40%;
    position: relative;
}

/* .projects::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: var(--color-primary);
    z-index: -1;
} */

.project_name {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.Project_disciption {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;

}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
 margin: 0 auto;
    width: 30vw;
  
}



/*//////////////////////////////// C O N T A C T ////////////////////////////////*/
.section--sign-up {
    position: relative;
background: hsl(var(--light_color));
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    /* padding: 5rem 2rem; */
    transition: all .8s;
    margin: 0 auto;
    margin-bottom: 10rem;
    width: 45vw;
    height: 50vh;


}

.section__title{
    width: 25vw;    
}
.contact_description{
    color:hsl( var( --dark_background_color)) ;
    /* text-align: left; */
    font-size: 2rem;
    margin: 5% auto;
    /* border: 1px solid; */
}



.contact_icons {
    background-color: var(--sample);
    width: 24vw;
    height: 65vh;
    position: absolute;
    right:-20% ;
    /* padding: 4rem; */
    bottom:-14%;
    box-shadow: -6px 13px 6px -1px var(--sample);
-webkit-box-shadow: -6px 13px 46px -11px var(--sample);
-moz-box-shadow: -6px 13px 36px -11px var(--sample);

}

.section--sign-up h3{
    color: var(--sample);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2.5rem;
}



.contact_icons p{
    margin: 3rem 1rem;
    text-align: left;
    border-bottom: 1px solid white ;
    padding-bottom: 2rem ;
}

 .contact_icons ul li a ,.contact_icons{
    color: white;

}

 .contact_icons ul li {
    list-style: none;
    cursor: pointer;
    padding: .5rem;
    padding-left: 3rem;
    width: 100%;
 }
.contact_icons ul{
    width: 20vw;
    /* margin: 0rem auto; */
    margin-top: 4rem;

}

 .contact_icons ul li  a{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
 }


 .contact_icon ul li a:hover .contact_icons p{
  color: var(--sample);
}


 .contact_icons ul li:hover {
    background-color: white;
  color: var(--sample);
list-style: disc;
list-style-position:3rem;
 }

.hoverStyle ul li a:hover{
  color: var(--sample);

} 


.contact_icons ul li a{
    font-size: 2rem;
}
.btn{

    /* color:rgb(242, 178, 155); */
        color: hsl( var( --dark_background_color));
    /* border: 1px solid hsl( var( --dark_background_color),.2); */
    background-color: transparent;
    box-shadow: -2px 1px 4px 2px hsl( var( --dark_background_color),.2);
    position: relative;
  right: 50%;
transform: translate(50%);
}

.section--sign-up .nav_button{
position: relative;
left: 50%;
right: 50%;
transform: translate(-50%);
}



.section--sign-up .section__header {
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}




/* /////////////////////////////////////////FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
  border-top: 1px solid hsl(var(--body_text_color));
  gap: 4rem;
  /* position: relative; */
  /* height: 30vh; */
  /* margin-bottom: 3rem; */
 
}


.footer__nav,
.footer__nav .constainer,
.footer_contact{
display: flex;
align-items: center;
justify-content: center;
gap: 8rem;
}




.footer_contact{
    flex-direction: column;
 
}

.footer_contact{ 
    gap: 1rem;
}

.footer__nav{

width: 100%;
 gap: 10rem;

}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
  
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
}

.footer img{
    width: 20vw;
}
.footerIcon{
    margin-left:3em;
}

.footer .icon{
/* display: inline-block; */
    font-size: 3rem;
} 

.footerIcon  li:nth-child(3):hover span{
   background-color: var(--whatsapp);
} 

 .footerIcon .github :hover span{
  background-color: var(--dark_background_color);
} 

 .footerIcon  .linkdin :hover span{
  background-color: var(--linkdin);
}

  .footerIcon .t :hover span{
  background-color: var(--twitter);
}


.nav__link--btn a{
text-decoration: none;
color: hsl( var( --light_color));

}

.nav__link--btn{
    display: flex;
    align-items: center;
    gap: 5px;
font-size: 1.8rem;
    width: 10vw;
}

   .footer__nav .constainer .social_icons{
position: relative;
top: 0;
left: 0;
   }


.footer__copyright {

    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
}

.footer__copyright >span{
    color: hsl( var( --light_color));
    display: inline-flex;
}

.footer__copyright .footer__link {
    font-size: 1.4rem;
}






/* Media Query */
@import url('./@mediaQuery.css');
