
@import url('layer.css');
@import url('animation.css');

*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
    --dark_background_color :180, 6%, 10%;
    --pink_color: 350, 85%, 58%;
    --light_color:0, 20%, 95%;
    --gray : 180, 1%, 45%;
    --body_text_color:0, 0%, 91%;
    --btn_font: 1.6rem;
    --sample : hsl(350,71%,58%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 0.625rem;
    /* color: #e04861; */
 
}



body {

    background-color:hsl( var( --dark_background_color));
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color:hsl(var(--body_text_color))   ;
     line-height: 1.9;
     /* background-color:  #e04861; */
   
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */



/* --------------------------------- */


.btn {
    display: inline-block;
    background-color: hsl(var(--pink_color));
    font-size:var(--btn_font);
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    cursor: pointer;
}


 .btn--scroll-to,
 .nav__link--btn:link,
.nav__link--btn:visited{
    width: 10vw;
    background-color: transparent;
      border: 1px solid hsl(var(--pink_color));
    color: hsl(var(--light_color));
   font-size:var(--btn_font);
      transition: all .8s;
   text-align: center;
      cursor: pointer;

  
}

.btn--scroll-to ,
.nav__link:link,
.nav__link:visited {
        display: block;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: hsl( var( --light_color));
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}


 .nav__link--btn:link,
.nav__link--btn:visited{
/* display: flex; */
/* justify-content: center; */
  background: hsl(var(--pink_color));
        padding: 0.3rem .1rem;
    border-radius: 1rem;
      color: hsl(var(--light_color));
        /* display: block; */
    /* transition: all .8s; */
}

.btn--scroll-to:hover,
.nav__link--btn:link:hover, 
.nav__link--btn:visited:hover{
  background: hsl(var(--light_color));
 background-image: -webkit-linear-gradient(top, hsl(var(--pink_color)),hsl(var(--pink_color)));
  background-image: -moz-linear-gradient(top, hsl(var(--pink_color)), hsl(var(--pink_color)));
  background-image: -ms-linear-gradient(top, hsl(var(--pink_color)), hsl(var(--pink_color)));
  background-image: -o-linear-gradient(top, hsl(var(--pink_color)), hsl(var(--pink_color)));
  background-image: linear-gradient(to bottom, hsl(var(--pink_color)),hsl(var(--pink_color)));
  text-decoration: none;
  color: hsl(var(--light_color));
  border: 1px solid hsl(var(--pink_color));
  font-size:2rem;
   /* font-weight: 600; */
}

.nav__link--btn span {
  
    margin-top: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.nav__links {

    list-style: none;
}

/* 
.nav.sticky,.nav {
    
} */
.nav{
    border: transparent;
/* padding: .8rem 1rem; */
   margin-bottom: 1.5rem;
   /* width: 100vw; */
}


.nav .sticky {
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    background-color: hsl(var(--light_color));
    width: 95vw;
    z-index: 100;
}

 /* glassmorphism */
.nav .sticky,
nav{
    background: rgba( 114, 116, 116, 0.4 );
box-shadow: 0 2px 12px 0 rgba(16, 17, 41, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
}



.nav__item {
    margin-left: 4rem;
}




/* buttons */



/* * HEADER */

  header {  
    background-image: linear-gradient(hsl(var(--dark_background_color),.0),hsl(var(--dark_background_color))),url(/img/IMG_9375_copy-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 10%;
    background-size: 46%;
    height: 90vh;
}

.hero_div{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
height: 80vh;
z-index: -1;
}

.hero_text-div{
    width: 40vw;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(40%,0%);
    display: flex;
    flex-direction: column;
  justify-content: center;

}

h1 {
  /* word-spacing: 10px; */
  letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1.35;
}




h1 .name_style{
    display: block;
  color: hsl( var( --pink_color));
  font-size: 5rem;
  line-height:5.5rem;
  margin-top: 1rem ;
   /* margin-bottom: 1rem; */
  letter-spacing:.8px;
}
.span_hero_text{
    position: relative;

}

.span_hero_text{
    display: block;
    position: relative;
    right: 50%;
}


.hero_text-div h4{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    line-height: 2.3rem;
    color: hsl(var(--body_text_color));
    font-weight:300;
  
}




.img_container{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    width: 50vw;
}

/* icon */

.social_medials{
        display: flex;
        justify-content: space-around;
        align-items: center;
    position: absolute;
    top: 30rem;
    height: 5vh;
    width: 8vw;
    transition: all 1s;
cursor: pointer;
}


.social_medials .icon:hover{
justify-content: space-around;
align-items: center;
color: hsl( var( --pink_color));
/* width: 15vw; */
margin-right: 1rem;
/* padding-top: 8px ; */
position: relative;
}


/*ABOUT ME */
.about_img{
   max-width: 100%;
}
.about_container{
margin-top: 4rem;
}

.my_skills {
 
    position: absolute;
   
}

.skills_list{

    /* background-image: url(/img/skill_bg.html); */
    background-size: cover;
    
       list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 3rem;
    /* position: relative; */
  


}




/*PROJECT SLIDER */
.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 4rem auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: var(--color-primary);
    z-index: -1;
}

.testimonial__header {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;

}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 1.5rem;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}

/*//////////////////////////////// C O N T A C T ////////////////////////////////*/
.section--sign-up {
background: hsl(var(--light_color));
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
    transition: all .8s;
    margin-bottom: 10rem;

}


.btn{
    color: hsl( var( --light_color));
    position: absolute;
  right: 50%;
transform: translate(50%);
}

.btn:hover{
    color: hsl( var( --dark_background_color));
    border: 1px solid hsl( var( --dark_background_color));
    background-color: transparent;
    box-shadow: -2px 1px 4px 2px black;
}
.section--sign-up h4{
    color:hsl( var( --dark_background_color)) ;
}

.section--sign-up .section__header {
    /* color: #fff; */
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}

.section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
}


/* /////////////////////////////////////////FOOTER */
.footer {
    padding: 1rem 0rem;
  border-top: 1px solid hsl(var(--body_text_color));
  position: relative;
  height: 30vh;
 
}


.footer__nav,.footer__copyright{
  
 position: absolute;
 left: 50%;
 transform: translate(-50%);
}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
 position: absolute;
 bottom: 50%; 
 left: 50%;
 transform: translate(-50%);
}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
}

footer .btn--show-modal{
    position: absolute;
}

.footer__logo {
    height: 5rem;
    display: block;
    /* margin: 0 auto; */
    /* margin-bottom: 5rem; */
}

.footer__copyright {
 
    bottom: 0px;

    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
}

.footer__copyright >span{
    color: hsl( var( --light_color));
}
.footer__copyright .footer__link {
    font-size: 1.4rem;
}



/* @import url('meidaquery.css'); */


@media only screen 
   and (max-width : 200px) {
   /* Styles here */
}

@media screen and  (max-width: 480px) {
  /*CSS for medium width screens*/
     body{ font-size: 1.125rem;
    line-height: 1.75rem;}
.social_medials{
    display: none;
}
.center_div{

    width: 94vw;
}

.hero_text-div{
    border: 1px solid;
    width: 90vw;
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50%,0%);
 text-align: center;

}



h1 .name_style {
    border: 1px solid;
    width: 60vw;
    display: block;
    color: hsl( var( --pink_color));
       font-size: 2.75rem;
    line-height: 3.5rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    letter-spacing: .8px;
    margin: 0 auto;
    /* text-align: center; */
}

.hero_text-div h4 {
    margin-top: 2rem;
    width: 70vw;
    margin-bottom: 3.5rem;
    line-height: 3.3rem;
    color: hsl(var(--body_text_color));
    font-weight: 300;
   
}



.hero_text-div h4 {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    line-height: 2.3rem;
    color: hsl(var(--body_text_color));
    font-weight: 300;
      text-align: center;
    
}



/* .btn--scroll-to, .nav__link:link, .nav__link:visited {
    display: block;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: hsl( var( --light_color));
    padding: 10px 20px 10px 20px;
    text-decoration: none;
} */
.btn--scroll-to, .nav__link--btn:link, .nav__link--btn:visited {
    width: 10rem;
    background-color: transparent;
    border: 1px solid hsl(var(--pink_color));
    color: hsl(var(--light_color));
    font-size: var(--btn_font);
    transition: all .8s;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}
.nav{
    display: none;
}
.section_about{
    display: none;
}
}

@media screen and  (max-width: 900px) {

}

@media screen and (max-width: 1000px) {

}