
  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

@import url('layer.css');
@import url('animation.css');

*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;

}



:root{
    --dark_background_color :180, 6%, 10%;
    --pink_color: 350, 85%, 58%;
    --light_color:0, 20%, 95%;
    --gray : 180, 1%, 45%;
    --body_text_color:0, 0%, 91%;
    --btn_font: 1.6rem;
    --sample : rgb(224, 72, 97);
    --facebook: #3b5999;
--twitter:#55acee;
--whatsapp:#25d366;
--linkdin:#0077b5;
 --instagram:#e4405f;
 --color:hsl(50, 100%, 50%);
    
}



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 0.625rem;
    /* color: #e04861; */
 
}



body {

    background-color:hsl( var( --dark_background_color));
    font-family: 'Chakra Petch',sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color:hsl(var(--body_text_color))   ;
     line-height: 1.9;
     /* background-color:  #e04861; */
   
}

h1{
    font-weight: 900;
}
h2{
    font-weight: 500;
    
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */



/* --------------------------------- */


.btn {
    display: inline-block;
    background-color: hsl(var(--pink_color));
    font-size:var(--btn_font);
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    cursor: pointer;
}


 .btn--scroll-to,
 .nav__link--btn:link,
.nav__link--btn:visited{
    width: 10vw;
    background-color: transparent;
      border: 1px solid hsl(var(--pink_color));
    color: hsl(var(--light_color));
   font-size:var(--btn_font);
      transition: all .8s;
   text-align: center;
      cursor: pointer; 
}

.btn--scroll-to ,
.nav__link:link,
.nav__link:visited {
        display: block;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: hsl( var( --light_color));
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}


 .nav__link--btn:link,
.nav__link--btn:visited{

 background:hsl( var( --pink_color));
        padding: .5rem .4rem;
    border-radius: 1rem;
      color: hsl(var(--light_color));

}
 /* background: linear-gradient(113.94389852113807deg, rgba(248, 188, 79,1) 6.140625%,rgba(211, 21, 87,1) 95.51562499999999%); */
.btn--scroll-to:hover,
.nav__link--btn:link:hover, 
.nav__link--btn:visited:hover{
  background: hsl(var(--light_color));
background:hsl( var( --pink_color));
  background-image: hsl( var( --pink_color));
  background-image: hsl( var( --pink_color));
  background-image:hsl( var( --pink_color));
  background-image:hsl( var( --pink_color));;
  text-decoration: none;
  color: hsl(var(--light_color));
  border: 1px solid hsl(var(--pink_color));
  font-size:2rem;
   /* font-weight: 600; */
}

.nav__link--btn span {
  
    margin-top: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.nav__links {

    list-style: none;
}

/* 
.nav.sticky,.nav {
    
} */
.nav{
    border: transparent;
/* padding: .8rem 1rem; */
   margin: 1rem;
   align-content: center;
   /* width: 100vw; */
   /* border: 1px solid; */

}

.bg{
    
}


  .sticky {
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    background-color: hsl(var(--light_color));
    width: 95vw;
    z-index: 100;
}

 /* glassmorphism */
 .sticky,
nav{
    background: rgba( 114, 116, 116, 0.4 );
box-shadow: 0 2px 12px 0 rgba(16, 17, 41, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

}



.nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
}

/* logo for mobile */
.mobile_logo{
    display: none;
}

/*  */

.nav__item {
    margin-left: 4rem;
}


.logo span{
  color: #e4405f;
}

/* buttons */



/* * HEADER */

  header {  
    background-image: linear-gradient(hsl(var(--dark_background_color),.4),hsl(var(--dark_background_color))),url(/img/IMG_9375_copy-removebg-preview.png);
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: calc(0%/2);
     background-position-x: calc(65% *2);
    background-size:60%;
  
}

.hero_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
height: 100vh;
z-index: -1;
}

.hero_text-div{
    width: 40vw;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(40%,0%);
    display: flex;
    flex-direction: column;
  justify-content: center;

}

h1 {
  /* word-spacing: 10px; */
  letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1.35;
}




h1 .name_style{
    display: block;

color: hsl( var( --pink_color));
  font-size: 5rem;
  line-height:5.5rem;
  margin-top: 1rem ;
   /* margin-bottom: 1rem; */
  letter-spacing:.8px;
}

.span_hero_text{
    position: relative;

}

.span_hero_text{
    display: block;
    position: relative;
    right: 50%;
}


.hero_text-div h4{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    line-height: 2.3rem;
    color: hsl(var(--body_text_color));
    font-weight:300;
  
}


.btn--scroll-to:hover,.btn ,
footer .btn--show-modal,footer .btn--show-modal {
    color:rgb(242, 178, 155)
}

.img_container{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    width: 50vw;
}

/* icon */

.social_icons{
        display: flex;
        flex-wrap: wrap;
        transform-style: preserve-3d;
     transform: rotate(-25deg)  skew(25deg); 
    position: absolute;
  top: 40rem; 
  left: 15rem;
  gap:4rem;
  width:40vh;
  z-index: 100;

}


.social_icons > li{
    /* flex:3%;
    flex-basis: 40%; */
    position: relative;
    list-style: none;
    width: 7rem;
    height: 5rem;
    margin: 0 2rem;
    background-color: rgba(0,0,0,.5);
    border-radius:20px ;
}


.social_icons li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--light_color),.2);
    color: hsl( var( --dark_background_color));
    font-size: 3rem;
}
.social_icons li span:last-child(){
    box-shadow: 1px 2px 2px rgba(0,0,0,.5);
}
.social_icons li :hover span{
     z-index: 1000;
     transition: 0.5s;
         color: hsl( var( --light_color));
         /* box-shadow: -1px 1px 1px rgba(0,0,0,.5); */
        

}

.social_icons li :hover span:nth-child(5){
    transform: translate(4rem,-4rem);
    opacity: 1;
}

.social_icons li :hover span:nth-child(4){
    transform: translate(3rem,-3rem);
    opacity: .8;
}

.social_icons li :hover span:nth-child(3){
    transform: translate(2rem,-2rem);
    opacity: .6;
}

.social_icons li :hover span:nth-child(2){
    transform: translate(1rem,-1rem);
    opacity: .4;
}

.social_icons ul li :hover span:nth-child(1){
    transform: translate(1rem,-1rem);
    opacity: .1;
}

/* fb: 3b5999
twil:55acee
whatsapp:25d366
lin:0077b5
 ins:e4405f*/

 .social_icons  li:nth-child(3):hover span{
   background-color: var(--whatsapp);
} 

 .social_icons li:nth-child(4) :hover span{
  background-color: var(--dark_background_color);
} 

 .social_icons  li:nth-child(2) :hover span{
  background-color: var(--linkdin);
}

  .social_icons li:nth-child(1) :hover span{
  background-color: var(--twitter);
}



/*ABOUT ME */
.about_img{
   max-width: 80%;
}

.about_container{
margin-top: 4rem;
}




/* My skills */
.my_skills_container{
    height: 80vh;
}

.skill_container,.skills_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.my_skills{
    margin:4rem 0;
}
.my_skills h2{
    
    margin-bottom: 4rem;
}

.skills_list{
  
    width: 40vw;
        display: grid;
        gap: 15rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    position: relative;
     transform: skewY(-12deg);

}


.skills_list li{
    position: relative;
   list-style: none;
   width: 18rem;
   background-color: hsl( var( --dark_background_color),.3);
   padding: 1.5rem;
   transition: 0.5s;
   z-index: calc(1* var(--i));

}

.skills_list li:hover,
.skills_list li:hover span,
.skills_list li:hover::after{
   border: 1px solid var(--clr);
}

.skills_list li:hover{
transform: translateX(-10rem);
color: var(--clr);
 
/* background-color: var(--clr); */
}

.skills_list li span,.skills_list li::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: -4rem;
    width: 4rem;
    height: 8.5vh;
    background-color: hsl( var( --dark_background_color));
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);

}

.skills_list li::before{
      content: ' ';
}


.skills_list li:hover span{

color: var(--clr);
    filter: brightness(0.7);
  

}

.skills_list li::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: -4rem;
    width: 17.5rem;
    height: 4rem;
    background-color: hsl( var( --dark_background_color));
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
       transition: 0.5s;
    clip-path: polygon(0 0%,95% 10%, 100% 100%, 0% 100%);;

}

.skills_list li:hover::after{

filter: brightness(0.9);
}



.skills_list li span{
color: hsl( var( --light_color));
font-size:3.3rem ;
display: flex;
justify-content: center;
align-items: center;
}








/*PROJECT SLIDER */
.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 4rem auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: var(--color-primary);
    z-index: -1;
}

.testimonial__header {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonial__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;

}

.testimonial__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.testimonial__location {
    font-size: 1.5rem;
}

.section__title--testimonials {
    margin-bottom: 4rem;
}

/*//////////////////////////////// C O N T A C T ////////////////////////////////*/
.section--sign-up {
background: hsl(var(--light_color));
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
    transition: all .8s;
    margin-bottom: 10rem;

}


.btn{
    /* color:rgb(242, 178, 155); */
    position: absolute;
  right: 50%;
transform: translate(50%);
}

.btn:hover{
    color: hsl( var( --dark_background_color),.5);
    border: 1px solid hsl( var( --dark_background_color),.2);
    background-color: transparent;
    box-shadow: -2px 1px 4px 2px hsl( var( --dark_background_color),.2);
}
.section--sign-up h4{
    color:hsl( var( --dark_background_color)) ;
}

.section--sign-up .section__header {
    /* color: #fff; */
    text-align: center;
}

.section--sign-up .section__title {
    margin-bottom: 6rem;
}

.section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
}


/* /////////////////////////////////////////FOOTER */
.footer {
    padding: 1rem 0rem;
  border-top: 1px solid hsl(var(--body_text_color));
  position: relative;
  height: 30vh;
  margin-bottom: 3rem;
 
}


.footer__nav,.footer__copyright{
  
 position: absolute;
 left: 50%;
 transform: translate(-50%);
}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
 position: absolute;
 bottom: 50%; 
 left: 50%;
 transform: translate(-50%);
}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
}

footer .btn--show-modal{
    position: absolute;
}

.footer .icon{
    font-size: 3rem;
} 

.footer__logo {
    height: 5rem;
    display: block;
    /* margin: 0 auto; */
    /* margin-bottom: 5rem; */
}

.footer__copyright {
 
    bottom: 0px;

    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
}

.footer__copyright >span{
    color: hsl( var( --light_color));
}
.footer__copyright .footer__link {
    font-size: 1.4rem;
}



/* @import url('meidaquery.css'); */


@media only screen 
   and (max-width : 200px) {
   /* Styles here */
}


@media screen and  (min-width: 200px) and  (max-device-width: 768px){
  /*CSS for medium width screens*/
     body{ 
        font-size: 1.525rem;
    line-height: 1.75rem;
}


.center_div{

    width: 89vw;
}

 nav{
  position: fixed;
  bottom:0%;
  width: 100%;
  z-index: 200;
  
}

   .nav {

align-items: center;
justify-content:space-around;

}


.nav__link:link {
    display:block;
    -webkit-border-radius: none;
    -moz-border-radius: 6;
    border-radius: 1px;
    color: hsl( var(--light_color));
    padding: 0px 0px 0px 0px;
    text-decoration: none;

}

.nav__item {
    margin-left:1.5rem;
    font-weight: 600;
}



.logo{
    display: none;
}

.mobile_logo{
    position: absolute;
    right: 3rem;
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
}

.mobile_logo:first-child{
    
}
/* header */

  header {  
    background-image: linear-gradient(hsl(var(--dark_background_color),.45),hsl(var(--dark_background_color))),url(/img/IMG_9375_copy-removebg-preview.png);
    background-repeat: no-repeat;
    background-position:calc(-15%*2);
    background-position-y: calc(0%/2);
    background-size:cover;
    height: 100vh;
}
 

.social_icons{
    display:none;
}

.hero_text-div{
    /* border: 1px solid; */
    width: calc(45vw *2);
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(calc(-25%*2),20%);


}



h1 .name_style {
 
    display: block;
    color: hsl( var( --pink_color));
       font-size: 3.5rem;
    line-height: 4.5rem;
   
    letter-spacing: .8px;
    margin: 0 auto;

   margin-bottom: 1rem;
    /* text-align: center; */
}





.hero_text-div h4 {
    /* border: 1px solid; */
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    line-height: 2.3rem;
    color: hsl(var(--body_text_color));
    font-weight: 300;
    width:80vw
      /* text-align: center; */
    
    
}


.btn--scroll-to{
        width: 10rem;
}

 .nav__link--btn:link, .nav__link--btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
   padding:.2rem 0;
   border-radius: 6px;
   font-size: .9em;
  
}

 .nav__link--btn:link span,.nav__link--btn:visited span{
    display: block;
    margin-bottom:.5em;
    margin-left: .3em;
    
}


 .social_medials{
position: absolute;
bottom:50%;
left: 45%;
transform: translate(calc(-25%*2),calc(12rem*2));
font-size: 4rem;
width: 20%;

}

/* ABOUT */


.about div{
    height: 0rem;
}

.about_container{
  padding: 0;
margin-top: 0rem;

}

.about_img {
    max-width: 100%;
}

.about_content{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
       gap: rem;
     

} 



.description{
    margin-top: 4rem;
left: 50%;
right: inherit;
transform: translate(-55%);
    text-align: center;
      line-height: 2.5rem;
}

/* .my_skills{
    margin-top: 14rem;
    border: 1px solid;
} */


h2{
margin: 2rem 0 3rem 0;
}

.description{
margin: 0;
    width: 90vw;
position: relative;
left: 50%;
right: inherit;
transform: translate(-55%);
    text-align: left;
      line-height: 2.5rem;
}

.description h2,.my_skills h2{

    text-align: left;
}

/* SKILLS */

.my_skills{
    height: 100vh;
}

.skills_list li{
    position: relative;
   list-style: none;
  
   /* border:1px solid ; */
 
}


.skills_list{
/*     
       list-style: none; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0rem;
    margin-top: 4rem;
    font-size: 1.6rem;
    position: relative;
  height: 10vh;
}

.skills_list li,
.skills_list li::after,.skills_list li::before{
border: 1px solid hsl( var( --light_color),.3);
}



.skills_list li span, .skills_list li::before{
    height: 7.5vh;
}
.skills_list li,
.skills_list li::after{
 max-width: 49vw;
  --webkit-width: 49vw;
}

.skills_list li:hover{
transform: translateX(-4rem);
color: var(--clr);
 
/* background-color: var(--clr); */
}






/* PROJECT SECTION */



   .slider__btn{
min-width: calc(2%*2);
 min-height: calc(3%*2);
   font-size: 1.5em;
    
}


/* signup */

.section--sign-up{
width: 85vw;
}

.section--sign-up .btn{
     padding: 14px 0;
    font-size: 1.4rem;
}


.btn,.footer .btn--show-modal{
    /* border-radius: 1.2rem; */
    width: 50vw;

}
.btn--show-modal{
    border-radius: 1rem;
}


.section--sign-up h4{
    font-size: 2rem;
    line-height: 3.5rem;
}

/* /////////////////////////////////////////FOOTER */
.footer {
    padding: 1rem 0rem;
  border-top: 1px solid hsl(var(--body_text_color));
  position: relative;
  height: 30vh;
  margin-bottom: 16rem;
 --webkit-margin-bottom: 16rem;

}




.footer__nav { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 2rem;
 bottom: 15%; 

 transform: translate(-50%);
}

.footer_icon{
  
    display: flex;
    padding-left:25% ;

}

.footer .nav__link--btn{
    padding: 0rem;
    width: 12rem;
    text-align: center;
   

   
}

.nav__link{
padding:2px;
}

.footer__copyright{
 position: absolute;
 left: 50%;
 top: calc(58%*2);
 transform: translate(-50%);

}

}

@media (width: 768px){
      header {  
    background-position:calc(25%*2);
    background-position-y: calc(30%/2); 

    
 
}

.hero_text-div{
    /* border: 1px solid; */
   
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(calc(25*2),30%);


}

.hero_text-div h4 {
    border: 1px solid;
 
      width: calc(20%*2);
    
}




.my_skills {
 
    position: absolute;
   
}

.skills_list{

    background-size: cover;
    
       list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 3rem;
    /* position: relative; */
  


}


}

@media screen and  (max-width: 900px) {

}

@media screen and (max-width: 1000px) {

}